<div class="row">
  <div class="header">
    <h3>Not Implemented</h3>
  </div>
</div>

<div class="row content"></div>

<div class="row footer">
  <div class="col-md-4">
    <button type="button" class="btn btn-default btn-block" (click)="exit()">
      EXIT
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary btn-block" (click)="run()">
      START
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-default btn-block" (click)="stop()">
      STOP
    </button>
  </div>
</div>
