.header {
  height: 6.5rem;
}

.header .mat-toolbar-layout .mat-toolbar-row {
  height: 0rem !important;
}

.angular-logo {
  margin: 0 4px 3px 0;
  height: 50px;
  vertical-align: middle;
  padding-left: 0.5rem;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: white;
  border-bottom: 1px solid #dfe4ed;
  padding: 0px;
  height: 1rem;
}

.item {
  padding: 0px 15px;
  color: #827ca1;
  font-size: medium;
}

.light {
  width: 25px;
  height: 25px;
  background: #000;
  margin-left: 30px;
  border-radius: 50%;
  text-align: justify;
  display: inline-table;
}
