<div id="wrapper" class="container1">
  <div class="row">
    <div class="col-md-4 h-title">
      <div>Title</div>
    </div>
    <div class="col-md-4 h-value">
      <div>Value</div>
    </div>
    <div class="col-md-4 h-value">
      <div>{{ status?.polAngle }}</div>
    </div>
  </div>

  <div class="row content">
    <h1 class="title">{{ status?.polAngle }}</h1>
  </div>

  <div class="row">
    <div class="col-md-4 footer">
      <div class="row pccw">F-Title</div>
      <div class="row f-div">0</div>
    </div>

    <div class="col-md-4 footer vcenter title-bg">
      <div class="footer-title">CENTER</div>
    </div>

    <div class="col-md-4 footer">
      <div class="row ccw">F-Title</div>
      <div class="row f-div">1</div>
    </div>
  </div>
</div>
