<div id="states" class="stats-container">
  <table class="table table-bordered">
    <thead>
      <tr class="stats">
        <th class="thead td-space"></th>
        <th class="thead td-space">Lang1</th>
        <th class="thead td-space">Lan2</th>
      </tr>
    </thead>

    <tbody>
      <tr class="info stats">
        <td class="td-space">Object</td>
        <td class="td-space">9</td>
        <td class="td-space">2</td>
      </tr>
      <tr class="light stats">
        <td class="td-space">Interpret</td>
        <td class="td-space">6</td>
        <td class="td-space">8</td>
      </tr>
    </tbody>
  </table>
</div>
