.stats-container {
  padding-top: 0.4rem;
}

.stats {
height: 6rem;
  
}

.td-space {
  padding-bottom: 8px ;
    padding-top: 20px !important;
}
/* .table>thead>tr>th.info
 {
    background-color: #5b9bd5 !important;
} */

