/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @import '~bootstrap/dist/css/bootstrap.min.css'; 



/* Table styles */
.thead {
    background-color: #5b9bd5 !important;
    color: white;
    font-weight: bold;
}