<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite rule1 for Route Reload">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="/([^/]*.?)(.*)" />
          </conditions>
          <action type="Rewrite" url="/{C:1}" appendQueryString="false" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
	 <httpRedirect enabled="false" />
	 <staticContent>
		<remove fileExtension=".woff2" />
		<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
		<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="90.00:00:00" />
	 </staticContent>
	<httpProtocol>
		<customHeaders>
			<remove name="X-Powered-By" />
		</customHeaders>
	</httpProtocol>
  </system.webServer>
   <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
